In [18]:
import pandas as pd
import numpy as np

oris = pd.read_csv('./processed/preprocessed_5.csv')
news = pd.read_csv('./processed/preprocessed_2013_5.csv')

In [19]:
oris.head(3)
new_oris = oris.drop(['Unnamed: 0'],axis=1)

In [20]:
news.head(3)
new_s = news.drop(['Unnamed: 0'],axis=1)

In [21]:
temp = pd.concat([new_s,new_oris]).sort_values('계약날짜')

In [22]:
temp.index = np.arange(0,temp.shape[0])

In [23]:
temp

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,주소,위도,경도,건물나이,계약년,계약월,시도,구,읍면동,계약날짜
0,서울특별시 관악구 봉천동,1706,1706,0,봉천우성,59.7600,2006-01,1,"16,900",3,...,서울특별시 관악구 봉천동 관악로30길 12,37.485088,126.959439,6,2006,1,서울특별시,관악구,봉천동,2006-01-01
1,서울특별시 양천구 신정동,312,312,0,목동신시가지9,53.8200,2006-01,1,"33,300",7,...,서울특별시 양천구 신정동 목동서로 340,37.518809,126.863610,19,2006,1,서울특별시,양천구,신정동,2006-01-01
2,서울특별시 영등포구 양평동2가,38-1,38,1,삼성래미안,59.4000,2006-01,1,"18,000",2,...,서울특별시 영등포구 양평동2가 영등포로3길 9,37.524325,126.882574,8,2006,1,서울특별시,영등포구,양평동2가,2006-01-01
3,서울특별시 노원구 상계동,720,720,0,상계주공6(고층),59.2000,2006-01,1,"13,500",12,...,서울특별시 노원구 상계동 노해로 508,37.653688,127.064743,18,2006,1,서울특별시,노원구,상계동,2006-01-01
4,서울특별시 서초구 잠원동,73,73,0,신반포2,79.4200,2006-01,1,"56,700",4,...,서울특별시 서초구 잠원동 신반포로23길 41,37.510348,127.002360,28,2006,1,서울특별시,서초구,잠원동,2006-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226123,서울특별시 종로구 교북동,126,126,0,경희궁자이(4단지),45.8790,2022-02,25,"108,000",14,...,서울특별시 종로구 교북동 송월길 155,37.571447,126.961324,5,2022,2,서울특별시,종로구,교북동,2022-02-25
1226124,서울특별시 중구 정동,37,37,0,삼정아트테라스정동,14.2664,2022-02,25,"26,000",8,...,서울특별시 중구 정동 서소문로 89-1,37.562554,126.970812,2,2022,2,서울특별시,중구,정동,2022-02-25
1226125,서울특별시 동대문구 답십리동,497-23,497,23,청계푸르지오시티,18.9200,2022-02,25,"15,000",3,...,서울특별시 동대문구 답십리동 천호대로 257,37.563699,127.058268,7,2022,2,서울특별시,동대문구,답십리동,2022-02-25
1226126,서울특별시 관악구 봉천동,1629-2,1629,2,동아타운,28.8000,2022-02,25,"29,900",10,...,서울특별시 관악구 봉천동 봉천로 576,37.476902,126.961246,23,2022,2,서울특별시,관악구,봉천동,2022-02-25
1226127,서울특별시 성북구 장위동,8-2,8,2,석계역한일노벨리아시티,15.2144,2022-02,25,"11,800",4,...,서울특별시 성북구 장위동 화랑로 299,37.615609,127.050795,3,2022,2,서울특별시,성북구,장위동,2022-02-25

In [24]:
temp.to_csv('final.csv',encoding='utf-8')