In [1]:
import pandas as pd

df = pd.read_csv('./processed/preprocessed_2013_4.csv')

In [2]:
df.head(3)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,주소,위도,경도,건물나이,계약년,계약월,시도,구,읍면동
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,2013-09,8,"57,000",2,...,언주로 103,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,25,2013,9,서울특별시,강남구,개포동
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,2013-12,16,"57,000",2,...,언주로 103,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,25,2013,12,서울특별시,강남구,개포동
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,67.28,2013-02,11,"55,000",5,...,언주로 3,서울특별시 강남구 개포동 언주로 3,37.476264,127.056742,26,2013,2,서울특별시,강남구,개포동

In [3]:
date = df[['계약년','계약월','계약일']]
date

        계약년  계약월  계약일
0      2013    9    8
1      2013   12   16
2      2013    2   11
3      2013    2   22
4      2013    5   10
...     ...  ...  ...
68205  2013    2   15
68206  2013   10   10
68207  2013   10   22
68208  2013    6   26
68209  2013    3   30

[68210 rows x 3 columns]

In [4]:
date_list = date.to_numpy().astype(str).tolist()
new_col = pd.Series(name='계약날짜',data=pd.to_datetime(list(map(lambda x:'-'.join(x), date_list))))

df_new_col = pd.concat([df,new_col],axis=1)
df_new_col.head(3)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,주소,위도,경도,건물나이,계약년,계약월,시도,구,읍면동,계약날짜
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,2013-09,8,"57,000",2,...,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,25,2013,9,서울특별시,강남구,개포동,2013-09-08
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,2013-12,16,"57,000",2,...,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,25,2013,12,서울특별시,강남구,개포동,2013-12-16
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,67.28,2013-02,11,"55,000",5,...,서울특별시 강남구 개포동 언주로 3,37.476264,127.056742,26,2013,2,서울특별시,강남구,개포동,2013-02-11

In [5]:
df_new_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68210 entries, 0 to 68209
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       68210 non-null  object
 1   번지        68210 non-null  object
 2   본번        68210 non-null  int64
 3   부번        68210 non-null  int64
 4   단지명       68210 non-null  object
 5   전용면적(㎡)   68210 non-null  float64
 6   계약년월      68210 non-null  object
 7   계약일       68210 non-null  int64
 8   거래금액(만원)  68210 non-null  object
 9   층         68210 non-null  int64
 10  건축년도      68210 non-null  int64
 11  도로명       68210 non-null  object
 12  주소        68210 non-null  object
 13  위도        68210 non-null  float64
 14  경도        68210 non-null  float64
 15  건물나이      68210 non-null  int64
 16  계약년       68210 non-null  int64
 17  계약월       68210 non-null  int64
 18  시도        68210 non-null  object
 19  구         68210 non-null  object
 20  읍면동       68210 non-null  object
 21  계약날짜      68210 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(8), object(10)
memory usage: 11.4+ MB

In [6]:
df_new_col.to_csv('./processed/preprocessed_2013_5.csv')