# 3차 작업
1. 계약년월 date type으로

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('./processed/preprocessed_2013_2.csv')
df.head(3)

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,번지,주소,위도,경도,건물나이
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200603,10,"59,500",7,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200603,29,"60,000",6,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200604,29,"67,000",9,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18

In [29]:
def insert_point_into_str(x:str):
    lst = list(x)
    lst.insert(4,'.')
    
    return ''.join(lst)
    
year_month = pd.to_datetime(df['계약년월'].astype(str).map(insert_point_into_str),format='%Y-%m')
year = year_month.dt.year
month = year_month.dt.month

print(year,end='\n\n')
print(month,end='\n\n')

0          2006
1          2006
2          2006
3          2006
4          2006
           ...
1157913    2022
1157914    2022
1157915    2022
1157916    2022
1157917    2022
Name: 계약년월, Length: 1157918, dtype: int64

0           3
1           3
2           4
3           6
4          10
           ..
1157913     1
1157914     1
1157915     1
1157916     2
1157917     1
Name: 계약년월, Length: 1157918, dtype: int64

0         2006-03-01
1         2006-03-01
2         2006-04-01
3         2006-06-01
4         2006-10-01
             ...
1157913   2022-01-01
1157914   2022-01-01
1157915   2022-01-01
1157916   2022-02-01
1157917   2022-01-01
Name: 계약년월, Length: 1157918, dtype: datetime64[ns]

In [32]:
df_ym = pd.DataFrame({'계약년':year,'계약월':month})

processed = pd.concat([df,df_ym],axis=1)
processed.loc[:,'계약년월'] = year_month.dt.to_period('M')

processed.to_csv('./processed/preprocessed_2013_3.csv',index=False)