In [3]:
import pandas as pd

df = pd.read_csv('./processed/preprocessed_4.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1157918 entries, 0 to 1157917
Data columns (total 21 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1157918 non-null  object
 1   본번        1157918 non-null  int64
 2   부번        1157918 non-null  int64
 3   단지명       1157918 non-null  object
 4   전용면적(㎡)   1157918 non-null  float64
 5   계약년월      1157918 non-null  object
 6   계약일       1157918 non-null  int64
 7   거래금액(만원)  1157918 non-null  object
 8   층         1157918 non-null  int64
 9   건축년도      1157918 non-null  int64
 10  도로명       1157918 non-null  object
 11  번지        1157918 non-null  object
 12  주소        1157918 non-null  object
 13  위도        1157918 non-null  float64
 14  경도        1157918 non-null  float64
 15  건물나이      1157918 non-null  int64
 16  계약년       1157918 non-null  int64
 17  계약월       1157918 non-null  int64
 18  시도        1157918 non-null  object
 19  구         1157918 non-null  object
 20  읍면동       1157918 non-null  object
dtypes: float64(3), int64(8), object(10)
memory usage: 185.5+ MB

In [5]:
df.head(3)

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,...,번지,주소,위도,경도,건물나이,계약년,계약월,시도,구,읍면동
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-03,10,"59,500",7,1988,...,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,3,서울특별시,강남구,개포동
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-03,29,"60,000",6,1988,...,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,3,서울특별시,강남구,개포동
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-04,29,"67,000",9,1988,...,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,4,서울특별시,강남구,개포동

In [6]:
df.tail()

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,...,번지,주소,위도,경도,건물나이,계약년,계약월,시도,구,읍면동
1157913,서울특별시 중랑구 신내동,816,0,신내우디안1단지,84.65,2022-01,11,"85,000",16,2014,...,816,서울특별시 중랑구 신내동 신내역로1길 85,37.612842,127.102282,8,2022,1,서울특별시,중랑구,신내동
1157914,서울특별시 중랑구 중화동,208,4,범양프레체,17.94,2022-01,27,"12,200",15,2012,...,208-4,서울특별시 중랑구 중화동 중랑천로14길 58,37.594063,127.074165,10,2022,1,서울특별시,중랑구,중화동
1157915,서울특별시 중랑구 중화동,208,4,범양프레체,17.94,2022-01,28,"11,400",15,2012,...,208-4,서울특별시 중랑구 중화동 중랑천로14길 58,37.594063,127.074165,10,2022,1,서울특별시,중랑구,중화동
1157916,서울특별시 중랑구 중화동,208,4,범양프레체,17.94,2022-02,10,"11,000",14,2012,...,208-4,서울특별시 중랑구 중화동 중랑천로14길 58,37.594063,127.074165,10,2022,2,서울특별시,중랑구,중화동
1157917,서울특별시 중랑구 중화동,453,0,청광플러스원,84.96,2022-01,11,"85,500",11,2007,...,453,서울특별시 중랑구 중화동 동일로136길 15,37.602642,127.080072,15,2022,1,서울특별시,중랑구,중화동

In [7]:
df.describe()

,본번,부번,전용면적(㎡),계약일,층,건축년도,위도,경도,건물나이,계약년,계약월
count,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06,1.157918e+06
mean,5.629855e+02,5.974120e+00,7.704780e+01,1.582013e+01,8.786981e+00,1.998311e+03,3.755542e+01,1.269983e+02,1.539783e+01,2.013708e+03,6.440549e+00
std,5.119144e+02,4.587442e+01,2.909836e+01,8.727215e+00,5.925182e+00,9.183139e+00,5.727267e-02,9.099999e-02,9.515075e+00,4.713609e+00,3.341741e+00
min,0.000000e+00,0.000000e+00,1.002000e+01,1.000000e+00,-4.000000e+00,1.961000e+03,3.743438e+01,1.268061e+02,-1.200000e+01,2.006000e+03,1.000000e+00
25%,1.770000e+02,0.000000e+00,5.963000e+01,8.000000e+00,4.000000e+00,1.992000e+03,3.750719e+01,1.269186e+02,8.000000e+00,2.009000e+03,4.000000e+00
50%,4.700000e+02,0.000000e+00,8.116000e+01,1.600000e+01,8.000000e+00,1.999000e+03,3.754725e+01,1.270203e+02,1.400000e+01,2.015000e+03,6.000000e+00
75%,7.770000e+02,1.000000e+00,8.496000e+01,2.300000e+01,1.200000e+01,2.004000e+03,3.760095e+01,1.270677e+02,2.200000e+01,2.017000e+03,9.000000e+00
max,4.969000e+03,2.837000e+03,4.243200e+02,3.100000e+01,6.900000e+01,2.021000e+03,3.768764e+01,1.271807e+02,6.000000e+01,2.022000e+03,1.200000e+01