#### 데이터 테스트

## USED PACKAGES
- pandas
- numpy
- seaborn
- matplotlib
- geopandas

## ISSUE
1. geopandas와 다른 패키지 호환성 문제
    - 새로운 가상환경을 만들어 pandas와 matplotlib를 제외한 나머지 패키지를 전부 pip로 설치하여 해결함

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [18]:
data = pd.read_csv('./processed/preprocessed_3.csv')
maps = gpd.read_file('./map/seoul/11000/TL_KODIS_BAS.shp',encoding='euc-kr')

In [19]:
data.head(3)

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,번지,주소,위도,경도,건물나이,계약년,계약월
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-03,10,"59,500",7,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,3
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-03,29,"60,000",6,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,3
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,2006-04,29,"67,000",9,1988,언주로 103,655-2,서울특별시 강남구 개포동 언주로 103,37.481305,127.052897,18,2006,4

In [20]:
maps.head(3)

,BAS_AR,BAS_ID,BAS_MGT_SN,CTP_KOR_NM,MVMN_DE,MVMN_RESN,NTFC_DE,OPERT_DE,SIG_CD,SIG_KOR_NM,geometry
0,0.143509,03034,1111000035,서울특별시,None,None,20121221,None,11110,종로구,"POLYGON ((952791.984 1953978.823, 952796.670 1..."
1,0.153172,03015,1111000037,서울특별시,None,None,20121221,None,11110,종로구,"POLYGON ((952092.217 1956111.385, 952106.087 1..."
2,0.046852,03018,1111000038,서울특별시,None,None,20121221,None,11110,종로구,"POLYGON ((952580.170 1955803.287, 952587.806 1..."

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1157918 entries, 0 to 1157917
Data columns (total 18 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1157918 non-null  object
 1   본번        1157918 non-null  int64
 2   부번        1157918 non-null  int64
 3   단지명       1157918 non-null  object
 4   전용면적(㎡)   1157918 non-null  float64
 5   계약년월      1157918 non-null  object
 6   계약일       1157918 non-null  int64
 7   거래금액(만원)  1157918 non-null  object
 8   층         1157918 non-null  int64
 9   건축년도      1157918 non-null  int64
 10  도로명       1157918 non-null  object
 11  번지        1157918 non-null  object
 12  주소        1157918 non-null  object
 13  위도        1157918 non-null  float64
 14  경도        1157918 non-null  float64
 15  건물나이      1157918 non-null  int64
 16  계약년       1157918 non-null  int64
 17  계약월       1157918 non-null  int64
dtypes: float64(3), int64(8), object(7)
memory usage: 159.0+ MB

In [15]:
maps.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5665 entries, 0 to 5664
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BAS_AR      5665 non-null   float64
 1   BAS_ID      5665 non-null   object
 2   BAS_MGT_SN  5665 non-null   object
 3   CTP_KOR_NM  5665 non-null   object
 4   MVMN_DE     3425 non-null   object
 5   MVMN_RESN   3425 non-null   object
 6   NTFC_DE     5665 non-null   object
 7   OPERT_DE    3425 non-null   object
 8   SIG_CD      5665 non-null   object
 9   SIG_KOR_NM  5665 non-null   object
 10  geometry    5665 non-null   geometry
dtypes: float64(1), geometry(1), object(9)
memory usage: 487.0+ KB

In [16]:
data.columns

Index(['시군구', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)', '층',
       '건축년도', '도로명', '번지', '주소', '위도', '경도', '건물나이', '계약년', '계약월'],
      dtype='object')

In [17]:
maps.columns

Index(['BAS_AR', 'BAS_ID', 'BAS_MGT_SN', 'CTP_KOR_NM', 'MVMN_DE', 'MVMN_RESN',
       'NTFC_DE', 'OPERT_DE', 'SIG_CD', 'SIG_KOR_NM', 'geometry'],
      dtype='object')